body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.ul {
  list-style-type: none;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(3,26%);
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
  color:white;
  justify-content: center;
  /* background-color: brown; */
  
}

.Items{
  border-radius: 7px;
  padding: 0 16px 12px;
  background-image: url("bkg.png");
  background-size: cover;
  
}

.Items:hover{
  box-shadow: 0px 0px 10px 4px rgb(70, 156, 193);
}

.sub_container{
  padding: 0 5px;
}

.logo{
  display: block;
  margin: 20px auto 30px auto;
  width: 32%;
}


.title{
  margin: 10px 0 0;
}

.date{
  margin: 0px;
  color: grey;
}

.crawl{
  text-align:left;
  font-size: 14px;
  height: 26vh;
  font-weight: bolder;

}

hr{
  width: 98%;
  border-color: rgb(165, 64, 64);
}

a{
  color: yellow;
  text-decoration: none;
}

h1{
  color: grey;
}

.Details{
  padding: 10px 40px;
  color:grey;
}

.Header{
  text-align: center;
  margin-bottom: 10px;

}

.Section-list{
  display: grid;
  grid-template-columns: repeat(3,35%);
  width: 80%;
  padding-left: 0;
  margin-left: 0;
  
}

.Section{
  border-top: 1px solid grey;
  padding: 10px 0;
}